---
import { Layout } from "minimal-portfolio-theme:layouts";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("post");
  return posts.map((post) => {
    console.log("post.slug/id", post);

    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <div style="color: #fff">
    <Content />
  </div>
</Layout>
