---
import { Image } from "astro:assets";
import { Layout } from "minimal-portfolio-theme:layouts";
import { Hero, Banner, PostList } from "minimal-portfolio-theme:components";
import { houston } from "minimal-portfolio-theme:assets";
import config from "minimal-portfolio-theme:config";
import FAIcon from "../components/FAIcon.astro";
import { faUser } from "@fortawesome/free-solid-svg-icons";
import { getCollection } from "astro:content";

const posts = await getCollection("post");
const sortedPosts = posts.sort(
  (a, b) => Date.parse(`${b.data.date}`) - Date.parse(`${a.data.date}`),
);
---

<!-- https://docs.astro.build/en/guides/routing/ --><!-- https://egghead.io/lessons/astro-implement-pagination-in-a-dynamic-astro-index-page-with-getstaticpaths-and-paginate -->
<Layout>
  <PostList posts={sortedPosts} />
  <a class="more-posts" href="/post/1">
    <FAIcon icon={faUser} class={["a", "b"]} />
    more posts...
  </a>
</Layout>

<style lang="scss">
  .more-posts {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;

    color: var(--bs-body-color);
  }
</style>
